{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ]
    ],"plugins": [
        [
          "component",
          {
            "libraryName": "immutable",
            "styleLibraryName": "theme-chalk"
          }
        ]
      ]
}